/* *{
  box-sizing: border-box;
  border: 1px solid green;
} */
body {
  margin: 0;
  padding: 0;
  /* background-color: grey; */
}
.blurtheme {
  height: 100vh;
  width: 100%;
  filter: blur(30px);
}

.profileForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: calc(100% - 40px);
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  gap: 60px;
}

.maincntr {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(15, 98, 93, 0.7),
      rgba(15, 98, 93, 0.9)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 75.05%, rgba(0, 0, 0, 0.9) 100%) !important;
}
.horizontalline {
  width: 1px;
  background-color: gray;
  height: 350px;
}
.span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.check {
  font-weight: bold;
}
.RWSimg {
  width: 110px;
  height: 40px;
}
.css-1yxvfec {
  width: 450px !important;
}
.css-crj7n2 {
  border-radius: 5px !important;
}
.css-1pykngd {
  width: 100%;
}
.css-1ssnj02 {
  background-color: white !important;
}

.__floater__arrow {
  left: -70px !important;
}

.Button {
  padding-inline: 20px;
  padding-block: 5px;
  background-color: rgb(75,165,159) !important;
  color: white !important;
}
.prevButton{
  padding-inline: 20px;
  padding-block: 5px;
  background-color: rgb(210,212,218) !important;
  color: white !important;
}

.ButtonContainer {
  gap: 8px;
  display: flex;
  align-items: center;
}

.main-container {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  /* bottom: -600px; */
  justify-content: center;
  z-index: 1;
  margin-top: auto;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 185px !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-inline: 45px !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  top: 50px !important;
}